<div class="food-table-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="centered-title">Guía de uso</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="guide-content">
        <h4>Pasos para Configurar Tu Dieta</h4>
        <div class="step">
          <h5>Paso 1:</h5>
          <p>Selecciona los alimentos que deseas incluir en tu dieta. Estos serán consumidos diariamente.</p>
        </div>
        <div class="step">
          <h5>Paso 2:</h5>
          <p>Una vez seleccionados, añade la cantidad deseada para cada alimento. Las cantidades pueden ser en gramos, ml, scoops o unidades.</p>
        </div>
        <div class="step">
          <h5>Paso 3:</h5>
          <p>Ajusta las cantidades de los alimentos para que “Tu dieta actual” se acerque a “Tu objetivo” en la sección de Tus Macro Objetivos.</p>
          <ul>
            <li>Por ejemplo, si tu objetivo de proteínas es 140gr, añade alimentos ricos en proteína como huevos o pollo.</li>
            <li>No es obligatorio alcanzar exactamente 140gr, pero intenta acercarte, por ejemplo, 130gr o 150gr.</li>
            <li>El sistema te indicará con colores si el valor está muy lejos (<span style="color: red;">rojo</span>) o cerca (<span style="color: green;">verde</span>) del objetivo.</li>
          </ul>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-button style="margin-top: 10px;" color="primary" (click)="openVideo()">
    <mat-icon>play_circle_filled</mat-icon>
    Video explicativo
  </button>
  <h2>Tus macros objetivos:</h2>
  <p>Suplir esta dieta te dará aproximadamente: <strong>{{ myCaloriesGoal() }}</strong> calorías diarias</p>
  @if(macrosAndFoodListResolverResponse() != null) {
  <div class="macros-container">
    <mat-card class="macro-card">
      <mat-card-header>
        <div mat-card-avatar class="macro-icon protein-icon"></div>
        <mat-card-title>Proteínas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tu objetivo: <span class="macro-value">{{ myProteinsGoal() }}</span>g
        </p>
        <p>
          Tu dieta actual:
          <span class="macro-value" [style.color]="dietService.proteinColor()">{{ currentProteinIntake() }}</span>g
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="macro-card">
      <mat-card-header>
        <div mat-card-avatar class="macro-icon carbs-icon"></div>
        <mat-card-title>Carbohidratos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tu objetivo: <span class="macro-value">{{ myCarbsGoal() }}</span>g
        </p>
        <p>
          Tu dieta actual:
          <span class="macro-value" [style.color]="dietService.carbsColor()">{{ currentCarbsIntake() }}</span>g
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="macro-card">
      <mat-card-header>
        <div mat-card-avatar class="macro-icon fat-icon"></div>
        <mat-card-title>Grasas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tu objetivo: <span class="macro-value">{{ myFatsGoal() }}</span>g
        </p>
        <p>
          Tu dieta actual:
          <span class="macro-value" [style.color]="dietService.fatsColor()">{{ currentFatsIntake() }}</span>g
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="display: flex; justify-content: center;">
    <p style="max-width: 700px; font-weight: 300; font-size: 14px;">El documento de tu dieta se podrá generar una vez logres suplir tus 3 macro objetivos, guíate de los colores en “tu dieta actual”, lo ideal es que los tres estén verdes, ¡ánimo!</p>
  </div>

  <button mat-stroked-button color="primary" (click)="printPdf()">Imprimir mis datos a PDF</button>

  @if (foodDataSignal() != undefined) {
    <h2>Alimentos que puedes agregar a tu dieta:</h2>
    <app-shared-table
      [isLoadinFoodgData]="dietService.isLoadingFoodData()()"
      [element_data]="foodDataSignal()!"
      [foodItemsList]="foodItemsList()"
      (updateNameFiltered)="updateNameFiltered($event)"
      (updateTable)="updateTable($event)"
      (handleAddFood)="handleAddFoodItem($event)"
    ></app-shared-table>
  }
}

  @if(foodItemsList().length > 0) {
    <h2>Tu lista de alimentos actual:</h2>
    <div class="food-items-container">
      @for (foodItem of foodItemsList(); track foodItem.id) {
        <app-food-item [foodItem]="foodItem"></app-food-item>
      }
    </div>
  }
</div>
