<div class="food-table-container">
  <h2>Tus macros objetivos:</h2>

  @if(macrosAndFoodListResolverResponse() != null) {
  <div class="macros-container">
    <mat-card class="macro-card">
      <mat-card-header>
        <div mat-card-avatar class="macro-icon protein-icon"></div>
        <mat-card-title>Proteínas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tu objetivo: <span class="macro-value">{{ myProteinsGoal() }}</span>g
        </p>
        <p>
          Tu dieta actual:
          <span class="macro-value" [style.color]="dietService.proteinColor()">{{ currentProteinIntake() }}</span>g
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="macro-card">
      <mat-card-header>
        <div mat-card-avatar class="macro-icon carbs-icon"></div>
        <mat-card-title>Carbohidratos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tu objetivo: <span class="macro-value">{{ myCarbsGoal() }}</span>g
        </p>
        <p>
          Tu dieta actual:
          <span class="macro-value" [style.color]="dietService.carbsColor()">{{ currentCarbsIntake() }}</span>g
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="macro-card">
      <mat-card-header>
        <div mat-card-avatar class="macro-icon fat-icon"></div>
        <mat-card-title>Grasas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Tu objetivo: <span class="macro-value">{{ myFatsGoal() }}</span>g
        </p>
        <p>
          Tu dieta actual:
          <span class="macro-value" [style.color]="dietService.fatsColor()">{{ currentFatsIntake() }}</span>g
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  @if (foodDataSignal() != undefined) {
    <h2>Alimentos que puedes agregar a tu dieta:</h2>
    <app-shared-table
      [isLoadinFoodgData]="dietService.isLoadingFoodData()()"
      [element_data]="foodDataSignal()!"
      [foodItemsList]="foodItemsList()"
      (updateNameFiltered)="updateNameFiltered($event)"
      (updateTable)="updateTable($event)"
      (handleAddFood)="handleAddFoodItem($event)"
    ></app-shared-table>
  }
}

  @if(foodItemsList().length > 0) {
    <h2>Tu lista de alimentos actual:</h2>
    <div class="food-items-container">
      @for (foodItem of foodItemsList(); track foodItem.id) {
        <app-food-item [foodItem]="foodItem"></app-food-item>
      }
    </div>
  }

  @if(dietService.proteinColor() == "green"
  && dietService.carbsColor() == "green"
  && dietService.fatsColor() == "green") {
    <div class="success-message">
      <p>¡Felicidades! Has alcanzado tus objetivos de macronutrientes.</p>
      <button mat-stroked-button color="primary" (click)="printPdf()">Imprimir mis datos a PDF</button>
    </div>
  }
</div>
