<mat-card class="food-item-card">
    <mat-card-header>
      <mat-card-title>{{ foodItem().name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Consumo diario:</mat-label>
        <input matInput type="number" #inputAmountOfFood/>
      </mat-form-field>
      <strong>{{ foodItem().unit }}</strong>
      <button (click)="handleDeleteFooItem(foodItem())" mat-fab aria-label="Icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-content>
</mat-card>