<div class="page-container">
  <header>
    <mat-toolbar>
      <div (click)="handleMainTitleClicked()" class="left-side">
        <h1>{{ title }}</h1>
      </div>
      <div (click)="handleMainTitleClicked()" class="righ-side">
          <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
      </div>
    </mat-toolbar>
  </header>
  @if (loaderService.generalLoader()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <main class="my-routes">
    <router-outlet></router-outlet>
  </main>
</div>
