<div class="page-container">
  <header>
    <mat-toolbar>
      <div (click)="handleMainTitleClicked()" class="left-side">
        <h1>{{ title }}</h1>
      </div>
      <div (click)="handleMainTitleClicked()" class="righ-side">
          <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
      </div>
    </mat-toolbar>
  </header>
  @if (loaderService.generalLoader()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <main class="my-routes">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <mat-toolbar class="footer-text-container">
      <p>hecho con ❤️ por <a href="https://www.instagram.com/life_and_colors1/">Johan Vacca </a> y <a href="https://www.instagram.com/carlos_andres_ceron/"> Andrés Cerón</a></p>
    </mat-toolbar>
  </footer>
</div>
